body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}


.output {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #fff;
    padding: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}



p.teamHeading {
    text-align: right;
    padding: 5px;
    background-color: #E49F6E;
    display: inline-block;
    color: white;
    font-weight: bolder;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 25px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px;
    box-sizing: border-box;
}

button {
    background-color: #E49F6E;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
}

button:hover {
    background-color: #e69358;
}
